@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #e7ebef;
  font-weight: normal;
  font-family: 'poppins', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
.judul-list {
  color: black;
  text-align: center;
  letter-spacing: 5px;
  font-size: 32px;
  margin-bottom: 50px;
  margin-top: 50px;
  letter-spacing: 5px;
  font-weight: bold;

}
nav {
  margin-top: -65px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 23, 23);
  height: 75px;
  align-items: center;
  padding: 5px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  top: 0;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;


}

nav li a:hover {
  color: aqua;
  background-color: transparent;
}
.logo a:hover{
  background-color: transparent;
  color: aqua;
}
.logo a{
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
}

@media screen and (max-width: 801px) {

  nav  {
      width: 100%;
  }
  .logo a{
      font-size: 24px;
      letter-spacing: 1px;
  }
  nav ul li{
      margin-right: 25px;
  }
  nav ul li a{
      font-size: 16px;
      margin-left: -20px;
             
  }
}

@media screen and (max-width: 429px) {
  nav ul {
      display: none;
  }
  .logo{
      text-align: center;
      justify-content: center;
  }
  .logo a{
      letter-spacing: 2px;
      font-size: 16px;
      text-align: center;
      justify-content: center;
      align-items: center;
  }
}

.containerContact {
  display: flex;
  justify-content: flex-start;
}

.serviceContact {
  margin-top: 10px;
  margin-right: 8px;
  /* margin-right: 10px; */
}
/* .serviceContact {
  border-radius: 10px;
  box-shadow: 10px;
  margin: 10px;
  padding: 32px;
  background-color: #ffffff;
  box-shadow:  -2px -2px 2px rgba(0,0,0,0.8);
  
} */

.serviceContact img{
 
  width: 36px;
  margin: 0 auto;

}
.containerSkill{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 4em 1em;

}
.service {
  border-radius: 10px;
  box-shadow: 10px;
  margin: 10px;
  padding: 32px;
  background-color: #ffffff;
  box-shadow:  2px 2px 2px rgba(0,0,0,0.8);
  
}

.service img{
 
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.service h4 {

  text-align: center;
  margin-top: 40px;

  color: #000;
}

#home {
  display: flex;
  width: 95%;
  color: whitesmoke;
  justify-content: space-between;
  margin: 24px;

}

img {
  margin-left: 24px;
  width: 25%;
  border-radius: 25px;
  object-fit: cover;
}

.deskripsi {
  width: 70%;
}

.deskripsi p{
  text-align: justify;
  font-weight: 300;
  letter-spacing: 3px;
  color: #000;
}
.deskripsi h1{

  font-weight: bold;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 50px;



  color: black;

}
.button{
  margin-top: 12px;
  background-color: rgba(0, 13, 255, 0.445);
  padding: 24px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  transition: background-color 0.3s ease;
}
.button:hover{
  margin-top: 12px;
  background-color: rgb(0, 0, 0);
  padding: 24px;
  width: 200px;
  border-radius: 10px;
  box-shadow: -2px -2px -2px rgba(255, 255, 255, 0.8);
}
.button p{
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}
.button p:hover{
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.containerCourse{
  display: grid;
  grid-template-columns:  50%  auto;
  margin: 4em 1em;

}
.serviceCourse{
  background-color: #ffffff;
  margin: 12px;
  padding: 24px;
  border-radius: 12px;
  box-shadow:  2px 2px 5px rgba(0,0,0,0.8);

}
.serviceCourse h1 {
  text-align: left;
  color: #000;
  font-weight: normal;
  font-size: 28px;
}
.serviceCourse p {
  text-align: left;
  color: #000;
font-weight: lighter;
  font-size: 20px;
}

.buttonDetail{
  
  margin-top: 12px;
  background-color: rgba(0, 13, 255, 0.445);
  padding: 24px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 2px;

}

.containerExperience{
  display: grid;
  grid-template-columns:    auto;
  margin: 4em 1em;
}

.serviceExperience{

  background-color: #ffffff;
  margin: 12px;
  padding: 24px;
  border-radius: 12px;
  box-shadow:  2px 2px 5px rgba(0,0,0,0.8);
}

.serviceExperience h1{
  text-align: left;
  color: #000000;
  font-size: 32px;
  font-weight: 500;
}
.serviceExperience h2{
  text-align: left;
  color: #000000;
  font-size: 28px;
  font-weight: 400;
}
.serviceExperience p{
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
}

@media screen and (max-width: 801px) {
  .deskripsi{
      margin-right: 10px;
  }
  .deskripsi h1{
      font-size: 20px;
  }
}
@media screen and (max-width: 429px) {
  #home{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
  }
  .deskripsi{
      width: 100%;
      margin-bottom: 50px;
  }
  .deskripsi h1{
      font-size: 16px;
      letter-spacing: 1px;
  }
  .deskripsi p{
      letter-spacing: 1px;
  }

}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
